# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.idea/
.vscode/

# ======================
# Unity
# ======================
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
obj/

# ======================
# Visual Studio / C#
# ======================
.vs/
*.csproj
*.sln
*.unityproj
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Archives
# ======================
*.zip